body{
    background-color: #0c0c12;
    color: white;
    font-size: 25px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
  .container {
    text-align: center;
}
a{
    color: burlywood;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}
.links{
    color:goldenrod;
}
