body{
    background-color: #0c0c12;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
h2{
    color:goldenrod;
}
strong{
    color: greenyellow;
}
i{
    color: gray;
}
a{
    color: burlywood;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}
.links{
    color:goldenrod;
}
