body{
    background-image: url("img/fondo.jpg");
    background-color: #0c0c12;
    background-size: 100%;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
h2{
    color:goldenrod;
}
strong{
    color: lightseagreen;
}
i{
    color: gray;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    height: 8%;
  }
